/*.main-card {
  height: 500px;
  width: 300px;
  border: 2px solid black;
  margin: 2em 0 0 2em;
  display: flex;
  flex-direction: column;
}

.target-card {
  background: #000;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 1px auto;
  height: 98px;
  width: 300px;
}*/

/*#box_1, #box_2 {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 2px solid grey;
  float: left;
}

.inner-card {
  background: #BAD455;
  justify-content: center;
  display: flex;
  margin: 25px auto;
  height: 75px;
  width: 250px;
}*/

/*#logo {
  display: flex;
  height: 50%;
  width: auto;
}*/

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#columns {
  list-style-type: none;
  height: 500px;
  width: 300px;
  border: 2px solid black;
  margin: 2em 0 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em auto;
  padding: 0;
  background-color: #FEE5EB;
}

.column span {
  font-family: Verdana;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 250px;
  color: #FEE5EB;
  margin: 1em auto;
  background-color: #C73633;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
  border: 2px solid #000;
  padding: 0;
}

.column.dragElem {
  opacity: 0.4;
}
.column.over {
  border: 2px dashed #000;
  border-top: 5px solid purple;
}
